.progress-xs .progress-bar{ height: .5rem; }
.progress-sm .progress-bar{ height: .75rem; }
.progress-md .progress-bar{ height: 1rem; }
.progress-lg .progress-bar{ height: 1.25rem; }
.progress-xl .progress-bar{ height: 1.5rem; }