.svg-arrow-right-icon {
	width: 12px;
	height: 12px;
}

.svg-arrow-up-icon {
	width: 16px;
	height: 16px;
}

.svg-arrows-bold-right-icon {
	width: 32px;
	height: 32px;
}

.svg-arrows-stre-left-icon {
	width: 32px;
	height: 32px;
}

.svg-arrows-stre-right-icon {
	width: 32px;
	height: 32px;
}

.svg-arrows-up-down-icon {
	width: 16px;
	height: 16px;
}

.svg-bell-icon {
	width: 24px;
	height: 24px;
}

.svg-brand-img-icon {
	width: 22px;
	height: 22px;
}

.svg-bug-icon {
	width: 120px;
	height: 120px;
}

.svg-calendar-icon {
	width: 14px;
	height: 14px;
}

.svg-calendar-grid-icon {
	width: 24px;
	height: 24px;
}

.svg-caret-icon {
	width: 16px;
	height: 16px;
}

.svg-chart-icon {
	width: 32px;
	height: 32px;
}

.svg-chat-icon {
	width: 24px;
	height: 24px;
}

.svg-chat-bubble-icon {
	width: 24px;
	height: 24px;
}

.svg-check-circle-icon {
	width: 24px;
	height: 24px;
}

.svg-cog-icon {
	width: 24px;
	height: 24px;
}

.svg-coins-icon {
	width: 24px;
	height: 24px;
}

.svg-comments-icon {
	width: 20px;
	height: 20px;
}

.svg-email-icon {
	width: 24px;
	height: 24px;
}

.svg-envelope-icon {
	width: 24px;
	height: 24px;
}

.svg-euro-icon {
	width: 16px;
	height: 16px;
}

.svg-eye-icon {
	width: 24px;
	height: 24px;
}

.svg-eye-2-icon {
	width: 16px;
	height: 16px;
}

.svg-files-icon {
	width: 14px;
	height: 14px;
}

.svg-inbox-icon {
	width: 14px;
	height: 14px;
}

.svg-isvg-chat-icon {
	width: 48px;
	height: 48px;
}

.svg-isvg-file-ai-icon {
	width: 48px;
	height: 48px;
}

.svg-isvg-money-icon {
	width: 48px;
	height: 48px;
}

.svg-isvg-package-icon {
	width: 48px;
	height: 48px;
}

.svg-isvg-pin-icon {
	width: 48px;
	height: 48px;
}

.svg-isvg-usd-icon {
	width: 48px;
	height: 48px;
}

.svg-link-icon {
	width: 24px;
	height: 24px;
}

.svg-list-icon {
	width: 14px;
	height: 14px;
}

.svg-logout-icon {
	width: 14px;
	height: 14px;
}

.svg-media-icon {
	width: 24px;
	height: 24px;
}

.svg-monster-icon {
	width: 64px;
	height: 64px;
}

.svg-phone-call-icon {
	width: 24px;
	height: 24px;
}

.svg-pin-icon {
	width: 14px;
	height: 16px;
}

.svg-plus-icon {
	width: 22px;
	height: 22px;
}

.svg-post-editor-btn-camera-icon {
	width: 24px;
	height: 24px;
}

.svg-post-editor-btn-code-icon {
	width: 24px;
	height: 24px;
}

.svg-post-editor-btn-media-icon {
	width: 24px;
	height: 24px;
}

.svg-post-editor-btn-stock-icon {
	width: 24px;
	height: 24px;
}

.svg-refresh-icon {
	width: 16px;
	height: 16px;
}

.svg-search-icon {
	width: 14px;
	height: 14px;
}

.svg-search-gray-icon {
	width: 14px;
	height: 14px;
}

.svg-send-icon {
	width: 24px;
	height: 24px;
}

.svg-smile-icon {
	width: 24px;
	height: 24px;
}

.svg-sun-icon {
	width: 24px;
	height: 24px;
}

.svg-user-icon {
	width: 24px;
	height: 24px;
}

.svg-user-add-icon {
	width: 24px;
	height: 24px;
}

.svg-user-heart-icon {
	width: 20px;
	height: 20px;
}

.svg-user-sm-icon {
	width: 14px;
	height: 14px;
}

.svg-video-play-icon {
	width: 48px;
	height: 48px;
}

.svg-views-icon {
	width: 24px;
	height: 24px;
}

.svg-weather-1-icon {
	width: 24px;
	height: 24px;
}

.svg-weather-2-icon {
	width: 24px;
	height: 24px;
}

.svg-weather-3-icon {
	width: 24px;
	height: 24px;
}

